body {
  background-color: #3e4149;
  color: #e84545;
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

.card {
  background-color: #343a40;
  position: relative;

}

.focusMenu {
  position: absolute;
  right: 0;
  top: 0;
}

.goal {
  color: #ffffff
}

.btn-lg {
  margin: 25px;
}

.btn {
  background-color: #343a40;
  outline: none !important;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}

.all {
  padding: 15% 15% 15% 15%;
}

h1 {
font-family: 'Questrial', sans-serif;
  font-size: 4em;
  color: #e84545;
}
h2 {
  font-family: 'Allerta Stencil', sans-serif;
  color: #e84545;
}

.text-muted {
  color: #e84545!important;
}

.form-text {
  margin-bottom: .75rem;
}

#addGoal {
 width: 80%;
 text-align: center;
}

thead {
  color: #ffffff;
}

label {

    color: #ffffff;

}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 64px 64px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #e84545;
  margin: -6px 0 0 -6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 100px;
  left: 100px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 108px;
  left: 90px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 114px;
  left: 78px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 116px;
  left: 64px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 114px;
  left: 50px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 108px;
  left: 38px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 100px;
  left: 28px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 90px;
  left: 20px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {position: relative; height: 100vh; width: 100%;}

#gif-wrap {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: #000;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: -1;
}

#gif-logo {
	position: fixed;
	top: .5rem;
	right: .5rem;
	border-radius: 30px;
	padding: 0 1rem;
	background: #000;
	img {
		max-width: 150px;
	}
}


#new-gif {
	padding: .75rem 2.5rem;
	font-weight: 600;
	background: #424242;
	z-index: 10;
	color: #fff;
	border-radius: 30px;
	border: 0;
	font-size: 14px;
	position: fixed;
	top: .5rem;
	left: .5rem;
	transition: background .15s ease;
	cursor: pointer;
	&:hover {
		background: #626262;
	}
}
