body {
  background-image: url("https://source.unsplash.com/random/1920x1080");
/*   background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #393e46;
  color: #F22643;
  text-align: center;
  font-family: 'Mukta', sans-serif;
}

.oneLine {
  /* align-items: center; */
  /* display: flex;
  display: inline ; */
  /* font-size: 1.25rem !important;
  /* align-items: center; */
}

.habitG {
  font-size:10vw;
  font-family: 'Cinzel', serif;
  color: #F22643;
}

@media screen and (min-width: 601px) {
  div.habitG {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div.habitG {
    font-size: 30px;
  }
}

.card {
  background-color: #222831;
  /* position: absolute; */
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
}

.focusMenu {
  position: absolute;
  right: 0;
  top: 0;
}

.date {
  position: absolute;
  left: 15px;
  top: 5px;
  color: #6c757d;
  font-size: .75rem;
  /* font-family: 'Cinzel', serif; */
}

.focus {
  word-wrap: break-word;
}

.notes {
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  color: #6c757d
}

.addGoal {
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  color: #6c757d
}

.saveLog {
  position: absolute;
  right: 10px;
  bottom: 0;
  cursor: pointer;
  color: #6c757d
}

.dropdown-toggle {
  color: #393e46;
}

.dropdown-toggle:hover {
  color: #393e46;
}

.goal {
  color: #ffffff
}



.btn-lg {
  margin: 25px;
}

.btn-link {
  color: #6c757d
}

.btn-link:hover {
  color: #ffffff
}

.navbar {
  background-color: #222831 !important;
}

.btn {
  background-color: #222831;
  outline: none !important;
  box-shadow: none;
}

.btn:focus {
  outline: none;
}

.all {
  position: relative;
  padding: 5% 5% 0% 5%;
}

h1 {
  font-family: 'Cinzel', serif;
  color: #F22643;
}

h2 {
  font-family: 'Allerta Stencil', sans-serif;
  color: #F22643;
}

.text-muted {
  color: #F22643 !important;
}

.form-text {
  margin-bottom: .75rem;
}

#addGoal {
  width: 80%;
  text-align: center;
}

.archives {
  color: #ffffff;
  background-color: #222831;
  text-align: left;
}

.card-header {
  color: #ffffff;
  background-color: #222831;
  text-align: left;
  outline: none !important;
}

.card-body {
  background-color: #222831;
}

thead {
  color: #ffffff;
}

label {
  color: #ffffff;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 128px;
  height: 128px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 64px 64px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: #F22643;
  margin: -6px 0 0 -6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 100px;
  left: 100px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 108px;
  left: 90px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 114px;
  left: 78px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 116px;
  left: 64px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 114px;
  left: 50px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 108px;
  left: 38px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 100px;
  left: 28px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 90px;
  left: 20px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  /* position: relative; */
  height: 100%;
  width: 100%;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 50px;
}

#gif-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #000;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

#gif-logo {
  position: fixed;
  top: .5rem;
  right: .5rem;
  border-radius: 30px;
  padding: 0 1rem;
  background: #000;

  img {
    max-width: 150px;
  }
}

#new-gif {
  padding: .75rem 2.5rem;
  font-weight: 600;
  background: #424242;
  z-index: 10;
  color: #fff;
  border-radius: 30px;
  border: 0;
  font-size: 14px;
  position: fixed;
  top: .5rem;
  left: .5rem;
  transition: background .15s ease;
  cursor: pointer;

  &:hover {
    background: #626262;
  }
}

body {
  body {
    background-color: #3e4149;
    background-color: #482E4E;
    color: #e84545;
    color: #F22643;
    text-align: center;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-family: 'Mukta', sans-serif;
  }
}

.card {
  background-color: #222831;
  position: relative;
  max-width: 800px;
}

@@ -24, 8+24, 12 @@ body {
  margin: 25px;
  margin: 25px;
}
}

.navbar {
  background-color: #222831 !important;
}

.btn {
  background-color: #222831;
  outline: none !important;
  box-shadow: none;
}

@@ -39, 18+43, 18 @@ body {}
}

h1 {
  h1 {
    font-family: 'Questrial', sans-serif;
    font-family: 'Cinzel', serif;
    font-size: 4em;
    font-size: 4em;
    color: #e84545;
    color: #F22643;
  }
}

h2 {
  h2 {
    font-family: 'Allerta Stencil', sans-serif;
    font-family: 'Allerta Stencil', sans-serif;
    color: #e84545;
    color: #F22643;
  }
}

.text-muted {
  .text-muted {
    color: #e84545 !important;
    color: #F22643 !important;
  }
}

.form-text {
  .form-text {
    @@ -89, 7+93, 7 @@ label {
      width: 12px;
      width: 12px;
      height: 12px;
      height: 12px;
      border-radius: 100%;
      border-radius: 100%;
      background: #e84545;
      background: #F22643;
      margin: -6px 0 0 -6px;
      margin: -6px 0 0 -6px;
    }
